MYSQL_ROOT_PASSWORD=nothingHere
AUTH_DB_PASSWORD=WhatYouWannaFind?
USER_DB_PASSWORD=Nope
PRODUCT_DB_PASSWORD=NopeAgain
CART_DB_PASSWORD=TwiceInARow
ORDER_DB_PASSWORD=GetOut
INVENTORY_DB_PASSWORD=NothingHere
PAYMENT_DB_PASSWORD=PutYourCreditCardNumberHere
JWT_SECRET=PressEnterAndSomethingWillHappen
